@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

@font-face {
  font-family: AmsterdamOne;
  src: url("./elements/assests/fonts/AmsterdamOne.ttf");
}

@font-face {
  font-family: AwesomePosem;
  src: url("./elements/assests/fonts/Awesome\ Possum\ Outline\ Demo.otf");
}


:root{
  /* --background-color: #131313; */
  --background-color: #131313;
  --text-color: #fff;
  --accent-color: none;
}


body{
  font-family: Iceberg;
  /* background: var(--background-color); */
  /* color: var(--text-color); */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.projects::-webkit-scrollbar{
  display: none;
}